.wrapper {
  background-color: #fff;
}

.icon-linkedin:before {
  content: "\e90a";
  color: #0c6adf;
}

.icon-mail:before {
  content: "\e90b";
}

.icon-notification .path1:before {
  content: "\e90c";
  color: #333333;
}

.icon-notification .path2:before {
  content: "\e90d";
  margin-left: -1.0830078125em;
  color: #16d50d;
}

.icon-outdoor:before {
  content: "\e90e";
}

.icon-phone:before {
  content: "\e90f";
}

.icon-toys:before {
  content: "\e910";
}

.icon-twitter:before {
  content: "\e911";
  color: #0c6adf;
}

.icon-user:before {
  content: "\e912";
}

.active-dot {
  position: relative;
}
.active-dot:after {
  height: 6px;
  width: 6px;
  background-color: #16d50d;
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.count-circle {
  position: relative;
  margin-right: 8px;
}
.count-circle span {
  height: 18px;
  width: 18px;
  background-color: #0c6adf;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Source Sans Pro";
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(60%, -60%);
}








