.checkoutContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .checkoutContainer {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-gap: 1rem;
  }
}
