.prod-card-horizontal {
  display: grid;
  grid-template-columns: 200px auto;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  transition: 0.3s;
}
.prod-card-horizontal:hover {
  box-shadow: 0 2px 20px 0 rgb(144 144 144 / 20%);
  border-color: transparent;
}
.pch-content {
  padding: 10px;
}
.pch-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p.pch-title {
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: 0.3s;
}
p.pch-title:hover {
  color: #2e73e8;
}
p.pch-price {
  font-size: 18px;
  font-weight: 200;
  padding: 5px 0;
}
button.add-to-cart-icon-btn {
  border: none;
  background-color: transparent;
  font-size: 19px;
  height: 37px;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
button.add-to-cart-icon-btn:hover {
  background-color: #2e73e8;
  color: white;
}
.pch-btns {
  display: flex;
  gap: 5px;
}
.psch-content-top {
  min-height: calc(100% - 55px);
}
