body {
  font-family: "Work Sans", "Source Sans Pro", "Roboto", sans-serif;
  font-size: 14px;
  font-family: 400;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
}

dl,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #d7d7d7;
}
.header-menu a {
  text-decoration: none !important;
  color: #333333 !important;
}
.header-menu a:hover {
  color: #2e74e8 !important;
}

.mobile-menu-open {
  left: 0 !important;
  width: 100% !important;
}
.primary-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 16px;
  border-radius: 5px;
  background-color: #0c6adf;
  color: #ffffff;
  width: auto;
  transition: all 0.5s linear;
}
.btn-primary {
  color: #ffffff !important;
}
.primary-button:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #1164cb;
}

.wrapper {
  background-color: #fff;
}

.show {
  display: block !important;
}

/* scrollbar design */
::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 2px;
}

/* ./scrollbar design */
/* Animations */
@keyframes slide-in {
  from {
    opacity: 0;
    right: -50%;
  }
}

.radio-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.radio-item span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 5px solid #ffffff;
  outline: 1px solid #d7d7d7;
  margin-left: 10px;
  transition: all 0.3s;
}
.radio-item span:hover {
  cursor: pointer;
  outline: 1px solid #2e74e8;
}
.radio-item .color {
  height: 26px;
  width: 26px;
}
.radio-item .size {
  padding: 0px 5px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}

body.show:after {
  background-color: #222;
  opacity: 0.5;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.dropdown-menu {
  min-width: max-content;
  padding: 0;
  transform: none !important;
  top: 100% !important;
  overflow: hidden;
}
.header {
  margin-bottom: 38px;
  padding: 0;
}
.header .topbar {
  background: #e1e1e1;
}
.header .topbar .left-menu,
.header .topbar .right-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .topbar .left-menu ul,
.header .topbar .right-menu ul {
  list-style: none;
}
.header .topbar .left-menu ul li,
.header .topbar .right-menu ul li {
  list-style: none;
  cursor: pointer;
}
.header .topbar .left-menu ul li a,
.header .topbar .right-menu ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #333333;
}
.header .topbar .left-menu ul li a.first-child,
.header .topbar .right-menu ul li a.first-child {
  padding-right: 0;
}
.header .topbar .left-menu ul li a.last-child,
.header .topbar .right-menu ul li a.last-child {
  padding-right: 0;
}
.header .topbar .left-menu ul li a span,
.header .topbar .right-menu ul li a span {
  margin-left: 8px;
}
.header .topbar .left-menu ul li a:hover,
.header .topbar .right-menu ul li a:hover {
  font-weight: 500;
}
.header .main-header {
  background-color: #d9e8fb;
  padding: 26px 0 27px 0;
}
.header .main-header .logo {
  max-width: 160px;
  height: auto;
}
.header .main-header .logo a {
  display: inline-block;
}
.header .main-header .logo img {
  width: 100%;
  height: auto;
}
.header .main-header .search-wrap .search-text {
  flex: 2;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.header .main-header .search-wrap .search-text:before {
  content: "";
  height: 22px;
  width: 13px;
  background: blue;
  z-index: 14;
  position: absolute;
  left: 9px;
  top: 0;
}
.header .main-header .search-wrap .search-select {
  border-right: 0;
  position: relative;
}
.header .main-header .search-wrap .search-select:after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  top: 0;
}
.header .main-header .search-wrap .search-button {
  background-color: #2e74e8;
  font-size: 14px;
  font-family: 400;
  padding: 8px 38px;
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
}
.header .main-header .menu-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .main-header .menu-icons ul {
  list-style: none;
}
.header .main-header .menu-icons ul li {
  list-style: none;
  cursor: pointer;
}
.header .main-header .menu-icons ul li a {
  display: inline-block;
  padding: 0 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}
.header .main-header .menu-icons ul li a.first-child {
  padding-right: 0;
}
.header .main-header .menu-icons ul li a.last-child {
  padding-right: 0;
}
.header .main-header .menu-icons ul li a span {
  margin-left: 8px;
}
.header .main-header .menu-icons ul li a:hover {
  font-weight: 500;
}
.header .header-menu {
  border-bottom: 1px solid #d7d7d7;
}
.header .header-menu .shop-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .header-menu .shop-menu ul {
  list-style: none;
}
.header .header-menu .shop-menu ul li {
  list-style: none;
  cursor: pointer;
}
.header .header-menu .shop-menu ul li a {
  display: inline-block;
  padding: 0 12px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #333333;
}
.header .header-menu .shop-menu ul li a.first-child {
  padding-right: 0;
}
.header .header-menu .shop-menu ul li a.last-child {
  padding-right: 0;
}
.header .header-menu .shop-menu ul li a span {
  margin-left: 8px;
}
.header .header-menu .shop-menu ul li a:hover {
  font-weight: 500;
}

/* responsive style */
@media (max-width: 767px) {
  .header .topbar .left-menu,
  .header .topbar .right-menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .header .topbar .left-menu ul,
  .header .topbar .right-menu ul {
    list-style: none;
  }
  .header .topbar .left-menu ul li,
  .header .topbar .right-menu ul li {
    list-style: none;
    cursor: pointer;
  }
  .header .topbar .left-menu ul li a,
  .header .topbar .right-menu ul li a {
    display: inline-block;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
  }
  .header .topbar .left-menu ul li a.first-child,
  .header .topbar .right-menu ul li a.first-child {
    padding-right: 0;
  }
  .header .topbar .left-menu ul li a.last-child,
  .header .topbar .right-menu ul li a.last-child {
    padding-right: 0;
  }
  .header .topbar .left-menu ul li a span,
  .header .topbar .right-menu ul li a span {
    margin-left: 8px;
  }
  .header .topbar .left-menu ul li a:hover,
  .header .topbar .right-menu ul li a:hover {
    font-weight: 500;
  }
  .header .header-menu {
    border-bottom: 1px solid #d7d7d7;
  }
  .header .header-menu .shop-menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .header .header-menu .shop-menu ul {
    list-style: none;
  }
  .header .header-menu .shop-menu ul li {
    list-style: none;
    cursor: pointer;
  }
  .header .header-menu .shop-menu ul li a {
    display: inline-block;
    padding: 0 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #333333;
  }
  .header .header-menu .shop-menu ul li a.first-child {
    padding-right: 0;
  }
  .header .header-menu .shop-menu ul li a.last-child {
    padding-right: 0;
  }
  .header .header-menu .shop-menu ul li a span {
    margin-left: 8px;
  }
  .header .header-menu .shop-menu ul li a:hover {
    font-weight: 500;
  }
  .header .header-menu .shop-menu .mobile-nav-open {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
  }
  .header .header-menu .shop-menu .side-navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: -100px;
    background-color: #060606fa;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
  }

  .header .header-menu .shop-menu .side-navigation a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff !important;

    display: block;
    transition: 0.3s;
  }
  .header .header-menu .shop-menu .side-navigation a:hover {
    color: #f1f1f1;
  }
  .header .header-menu .shop-menu .side-navigation .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
