.noItem {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.miniCartContainer {
  width: 400px;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.535);
  min-height: 300px;
  /* z-index: 99 !important; */
}

.miniCartContainer .miniCart {
  padding: 0.1rem 1rem;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.535);
}

.miniCartContainer img {
  width: 80%;
}

.miniCartContainer .content h5 {
  font-size: 1rem;
  margin-bottom: 0;
}

.miniCartContainer .content h6 {
  font-size: 1rem;
  margin-bottom: -5px;
  margin-top: 8px;
  font-weight: 400;
}

.miniCartContainer small {
  font-size: 0.8rem;
}

.miniCartContainer .miniCart button {
  background-color: inherit;
  border: none;
  font-size: 1.5rem;
}

.miniCartContainer .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 0 1rem;
  color: #fff;
  margin-bottom: 2rem;
}

/* .buttons {
  display: flex;
  justify-content: center;
} */
.buttons a {
  margin-left: 15px;
  font-size: 1rem;
  color: #fff;
}

.buttons button:hover a {
  color: #fff;
}
.cartIncreaseButton {
  display: flex;
  justify-content: end;
}
.cartIncreaseButton button {
  margin-left: 8px;
  /* margin-right: 8px; */
  width: 25px;

  /* border: 1px solid rgba(128, 128, 128, 0.33) !important; */
}
