/* ::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f2f3f8;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.29);
} */

body {
  background-color: #f2f3f8 !important;
  margin: 0;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
