@font-face {
  font-family: "Cascadia Code";

  src: url("./fonts/CascadiaCode.woff2");
  font-weight: 300;
  font-size: normal;
}

body {
  background-color: #f2f3f8 !important;
  margin: 0;
}

* {
  /* font-family: "Work Sans", "Source Sans Pro", sans-serif !important; */
  /* font-family: "PT Sans", sans-serif; */
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: "Cascadia Code"; */
  /* font-family: "Myriad Pro"; */
  /* font-family: "Maven Pro", sans-serif; */
  /* font-family: "PT Sans", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* bootstrap accordion edited */
.accordion-item {
  border: none !important;
}

::-webkit-scrollbar {
  width: 0px;
}

.color-main {
  color: #4782da;
}

.tableFilters {
  display: flex;
  justify-content: end;
}
.tableFilters input {
  width: 220px;
  margin-right: 1rem;
  height: auto;
  margin-bottom: 1rem;
  padding: 7px;
  transition: all 0.3s;
}
.searchSelect {
  width: 115px;
  margin-right: 1rem;
  height: 45px;
  padding: 2px;
}

@media only screen and (min-width: 768px) {
  .tableFilters input:focus {
    width: 300px;
  }
}
