body {
  background-color: #f2f3f8 !important;
  margin: 0;
}

* {
  font-family: "Work Sans", "Source Sans Pro", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* bootstrap accordion edited */
.accordion-item {
  border: none !important;
}

::-webkit-scrollbar {
  width: 0px;
}

/* cofig css */
/* .page-title {
  text-align: center;
  font-size: 24px;
  color: #585858;
  font-weight: 500;
  margin-bottom: 20px;
}
.pos-activation-widget {
  width: 100%;
  max-width: 350px;
  background-color: white;
  border-radius: 3px;
}
h3.confi-widget-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.confi-widget-body {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.color-main {
  color: #4782da;
}

.tableFilters {
  display: flex;
  justify-content: end;
}
.tableFilters input {
  width: 220px;
  margin-right: 1rem;
  height: auto;
  margin-bottom: 1rem;
  padding: 7px;
  transition: all 0.3s;
}
.searchSelect {
  width: 115px;
  margin-right: 1rem;
  height: 45px;
  padding: 2px;
}
.tableFilters input:focus {
  width: 300px;
}
