/* Grid view css start*/
.prods-grid-view-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 20px;
}
.vpcc-image {
  background-color: #f8f8f8;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.vpcc-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  transition: 0.3s;
  margin: 15px 0 10px 0;
}
.vpcc-name:hover {
  color: #2e73e8;
  cursor: pointer;
}

.vpcc-image img {
  max-width: 100%;
}
.vpcc-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-action-btn-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  transition: 0.5s;
}
.vpcc-btns {
  background-color: #2e73e8;
  height: 37px;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}
.vpcc-btns:hover {
  /* transform: translateY(-5px); */
  transform: scale(1.2);
}
.vartical-prod-card-container:hover .card-action-btn-container {
  height: 80px;
}
/* Grid view css end*/
