.layoutBtn {
  margin-left: 1rem;
  background-color: inherit;
  border: none !important;
}

.sotresContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sotresContainer img {
  margin-top: 1rem;
  width: 40%;
  border-radius: 50%;
  background-color: #fff;
  display: block;
}

.sotresContainer .card {
  border: 1px solid rgba(128, 128, 128, 0.279);
  border-radius: 5px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 1px 3px 7px rgba(180, 180, 180, 0.681);
  /* border: none; */
  cursor: pointer;
}

.sotresContainer .cardBody {
  width: 100%;
  padding-left: 1rem;
}

.sotresContainer .cardBody h5 {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 5px;
}

.sotresContainer .rattings {
  font-size: 0.8rem;
  color: gray;
}

.sotresContainer .location span {
  margin-right: 8px;
}

.sotresContainer .phone span {
  margin-right: 8px;
}

.sotresContainer .email span {
  margin-right: 8px;
}

.sortInputShow {
  border: 1px solid rgba(128, 128, 128, 0.279);
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 20px 30px;
  height: 150px;
  width: 100%;
  opacity: 1;
  /* display: block; */
  transition: all 0.3s;
}

@media only screen and (min-width: 768px) {
  .sotresContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
